<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transaction Reconciler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/application.css"
          th:href="@{css/application.css}" rel="stylesheet" media="screen"/>
</head>
<body class="tt">
<div th:replace="navBar :: body"></div>
<div class="container">
    <fieldset>
        <legend>Specify files to compare</legend>

        <div class="alert alert-danger" th:if="${message}">
            <span th:text="${message}" class="error"/>
        </div>

        <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" action="submit">
            <div class="form-group">
                <label class="control-label col-sm-2" for="file1">File 1:</label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" id="file1" name="file1" placeholder="File 1" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="file2">File 2:</label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" id="file2" name="file2" placeholder="File 2" required="required"/>
                </div>
                <div class="col-sm-2">
                    <input type="submit" value="Compare" class="btn btn-primary"/>
                </div>
            </div>
        </form>

    </fieldset>
</div>
</body>
</html>