<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transaction Reconciler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/application.css"
          th:href="@{css/application.css}" rel="stylesheet" media="screen"/>
</head>
<body class="tt"
      th:with="maxUnmatchedRow=${result.file1.unmatchedRecords > result.file2.unmatchedRecords ? result.file1.unmatchedRecords : result.file2.unmatchedRecords}, dateFormat=${new java.text.SimpleDateFormat('yyyy-MM-dd HH:mm:ss')}">

<div th:include="index :: body"></div>

<div class="container">
    <fieldset>
        <legend>Comparison Results</legend>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h3 th:text="${result.file1.fileName}">File1.csv</h3>
                        <div class="row">
                            <div class="col-xs-6">Total Records:</div>
                            <div class="col-xs-6"><span th:text="${result.file1.totalRecords}">450</span></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">Matching Records:</div>
                            <div class="col-xs-6"><span th:text="${result.file1.matchedRecords}">420</span></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">Unmatched Records:</div>
                            <div class="col-xs-6"><span th:text="${result.file1.unmatchedRecords + result.closeMatchesPare.size()}">30</span></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 th:text="${result.file2.fileName}">File1.csv</h3>
                        <div class="row">
                            <div class="col-xs-6">Total Records:</div>
                            <div class="col-xs-6"><span th:text="${result.file2.totalRecords}">450</span></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">Matching Records:</div>
                            <div class="col-xs-6"><span th:text="${result.file2.matchedRecords}">420</span></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">Unmatched Records:</div>
                            <div class="col-xs-6"><span th:text="${result.file2.unmatchedRecords + result.closeMatchesPare.size()}">30</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="height:20px;"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="button" value="Unmatched Report" class="btn btn-warning center-block"/>
            </div>
        </div>
    </fieldset>
</div>


<div class="container-fluid">
    <fieldset>
        <legend>Unmatched Report</legend>
        <table class="table table-striped" css="width: 100%;">
            <thead>
            <tr>
                <th colspan="3" th:text="${result.file1.fileName}"></th>
                <th>&nbsp;</th>
                <th colspan="3" th:text="${result.file2.fileName}"></th>
            </tr>
            <tr>
                <th>Date</th>
                <th>Reference</th>
                <th>Amount</th>
                <th>&nbsp;</th>
                <th>Date</th>
                <th>Reference</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="pare : ${result.closeMatchesPare}" class="alert alert-warning">
                <td th:with="d=${pare.record1.date}">
                    <span th:text="${d != null ? dateFormat.format(d) : ''}"></span>
                </td>
                <td>
                    <span th:text="${pare.record1.walletReference}"></span>
                </td>
                <td>
                    <span th:text="${pare.record1.amount}"></span>
                </td>
                <td>
                    <span css="white-space: nowrap;">&lt;-- similar --&gt;</span>
                </td>
                <td th:with="d=${pare.record2.date}">
                    <span th:text="${d != null ? dateFormat.format(d) : ''}"></span>
                </td>
                <td>
                    <span th:text="${pare.record2.walletReference}"></span>
                </td>
                <td>
                    <span th:text="${pare.record2.amount}"></span>
                </td>
            </tr>
            <tr th:each="i : ${#numbers.sequence(1, maxUnmatchedRow)}">
                <td>
                    <span th:if="${result.file1.unmatchedRecords >= i}"
                          th:with="d=${result.file1.unmatchedRecordData.get(i-1).date}">
                        <span th:text="${d != null ? dateFormat.format(d) : ''}"></span>
                    </span>
                </td>
                <td>
                        <span th:if="${result.file1.unmatchedRecords >= i}"
                              th:text="${result.file1.unmatchedRecordData.get(i-1).walletReference}"></span>
                </td>
                <td>
                        <span th:if="${result.file1.unmatchedRecords >= i}"
                              th:text="${result.file1.unmatchedRecordData.get(i-1).amount}"></span>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <span th:if="${result.file2.unmatchedRecords >= i}"
                          th:with="d=${result.file2.unmatchedRecordData.get(i-1).date}">
                        <span th:text="${d != null ? dateFormat.format(d) : ''}"></span>
                    </span>
                </td>
                <td>
                        <span th:if="${result.file2.unmatchedRecords >= i}"
                              th:text="${result.file2.unmatchedRecordData.get(i-1).walletReference}"></span>
                </td>
                <td>
                        <span th:if="${result.file2.unmatchedRecords >= i}"
                              th:text="${result.file2.unmatchedRecordData.get(i-1).amount}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</div>
</body>
</html>