<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transaction Reconciler</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/application.css"
          th:href="@{css/application.css}" rel="stylesheet" media="screen"/>
</head>
<body class="tt">
<div th:replace="navBar :: body"></div>
<div class="container-fluid">
    <fieldset>
        <legend>Settings</legend>
        <form class="form-horizontal" role="form" method="POST">
            <div th:replace="settings/closeMatches :: body"></div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-warning center-block"/>
                </div>
            </div>
        </form>
    </fieldset>
</div>

</body>
</html>